*,
head {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  background-color: #09032e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #0090d2;
}

.navbar a {
  float: left;
  font-size: 1em;
  color: white;
  text-align: center;
  padding: 0.75em 0.75em;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #757575;
}

.Haupttitel {
  text-align: left;
  margin: 1em;
  color: #00d2ff;
  font-size: 3em;
  text-align: center;
}
.untertitel {
  color: #00d2ff;
  font-size: em;
}

.geninfo {
  display: flex;
  justify-content: space-around;
}

.hobbypicture {
  height: 3em;
  width: 3em;
}

.Projektfooter {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.Projekt_description {
  margin: 3em;
  margin-bottom: 5em;
}

.HobbyGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  height: 100%;
}

#ProgrammirenTitel {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 4;
}
#videospieleTitel {
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 2;
  grid-column-end: 7;
}
#PwslBild {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}
#CsBild {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
}
#HTMLBild {
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
}
#OverwatchBild {
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 5;
}
#YakuzaLogo {
  grid-row-start: 2;
  grid-column-start: 5;

  grid-row-end: 3;
  grid-column-end: 6;
}
#FahradfahrenTitel {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 4;
}
#SpecializedLogo {
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 2;
}
#FotografirenLogo {
  grid-row-start: 3;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 7;
}
#CanonLogo {
  grid-row-start: 4;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 5;
}

.flexboxFahigkeiten {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}

.flexboxFahigkeitenItem {
  flex: 0 0 auto;
}

.fahigkeitenListe {
  padding-top: 1.5em;
}

.angry-grid {
  display: grid;
  align-content: center;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 1em;
  height: 100%;
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
}
#item-1 {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
}
#item-2 {
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 4;
}
#item-3 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}
#item-4 {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
}
#item-5 {
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
}

.Projekt {
  margin-top: 3em;
  display: block; /* iframes are inline by default */
  height: 60vh; /* Set height to 100% of the viewport height */
  width: 100vw; /* Set width to 100% of the viewport width */
  border: none; /* Remove default border */
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 1em; /* Some padding */

  border-radius: 1em; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1em; /* Add a top margin */
  margin-bottom: 2em; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #00d2ff;

  padding: 0.75em 1em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #757575;
}

/* Add a background color and some padding around the form */
.container {
  padding: 1em;
}
.Kontaktfooter {
  background-color: #757575;
}

.FooterTitle {
  text-align: center;
  padding: 1em;
  padding-bottom: 1em;
}
.SocialMedia {
  text-align: center;
  display: block;
  color: #00d2ff;
}

.bioImg {
  width: 5em;
}

.video {
  width: 100%;
  height: 20%;
}

.kontaktImg {
  width: 2em;
}

.Programm {
  width: 5em;
}
.Kontaktdaten {
  text-align: center;
}

.flexbox-ubersicht {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
